* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  padding: 0;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
  display: block;
}

.item h2 {
  margin: 0 0 16px;
}

.item ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

/*---Task-1---*/

/*---Task-2---*/

.gallery {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

.gallery img {
  display: block;
  max-width: 100%;
}

.gallery li {
  width: calc((100% - 24px * 2) / 3);
}

/*---Task-2---*/

/*---Task-3---*/

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#name-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*---Task-3---*/

/*---Task-4---*/

.login-form {
  width: 408px;
  background: #fff;
  padding: 24px;
}

.login-form>*,
.login-form input {
  display: block;
}

.login-form input {
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
}

.login-form label:first-child {
  margin-bottom: 8px;
}

.login-form button {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background 250ms ease;
}

.login-form button:hover {
  background: #0739ec;
}

/*---Task-4---*/

/*---Task-5---*/

.widget {
  border-radius: 8px;
  width: 345px;
  height: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 88px;
  text-align: center;
  gap: 16px;
}

.widget p {
  margin: 0;
}

.color {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background 250ms ease;
}

.change-color:hover {
  background: #0739ec;
}

/*---Task-5---*/

/*---Task-6---*/

#controls {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  display: flex;
  gap: 16px;
  background: #f6f6fe;
  margin-bottom: 16px;
}

#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  height: 40px;
  background: transparent;
  text-align: center;
}

#controls button[data-create],
#controls button[data-destroy] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border: none;
  background: #4e75ff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background 250ms ease;
}

#controls button[data-destroy] {
  background: #ff4e4e;
}

#boxes {
  display: flex;
  gap: 44px;
  border-radius: 8px;
  padding: 32px;
  background: #f6f6fe;
  width: fit-content;
}

#controls button[data-destroy]:hover {
  background: #f70f0f;
}

#controls button[data-create]:hover {
  background: #1445f5;
}

/*---Task-6---*/